<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.tymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 align='center' >Lomichis v1</h1>
        <p th:text="hola">Este es un parrafo</p>
        <a th:href="@{/otra_pagina}" href="/otra_pagina">Lista de usuarios</a><br>
        <a th:href="@{/registrate}" href="/registrate">agregar usuarios</a><br>
        <a th:href="@{/login}" href="/login">ejemplo login</a>
    </body>
</html>
